@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&family=Poppins:ital,wght@0,300;1,500&display=swap');

body {
  height: 100vh;
  background-color: #ffffff;
  /* background: linear-gradient(180deg, #d7dde9 0%, rgb(255, 255, 255) 100%); */
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Poppins ', sans-serif;  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: none;
}